<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <p>This site uses data from mapbox.com </p>
        <img class="portrait" src="/img/me.png" alt="">
    </div>
    {{> footer}}
     
</body>
</html>